aiogram==3.4.1
python-dotenv==1.0.1
aiohttp==3.9.5
SQLAlchemy==2.0.30
asyncpg==0.29.0
qrcode==7.4.2
Pillow==10.3.0
apscheduler==3.10.4
paramiko==3.4.0
python-telegram-bot==20.8
paramiko
fastapi~=0.116.1
uvicorn~=0.35.0
requests~=2.32.4
pip~=22.0.4
attrs~=25.1.0
PySocks~=1.7.1
protobuf~=6.31.1
cryptography~=45.0.4
asyncio~=3.4.3
Jinja2~=3.0.1
setuptools~=58.1.0
typing_extensions~=4.12.2
packaging~=21.0
loguru